/* #region reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* #region body */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
  background-color: #fff;
}
/* #endregion */

/* #region common */
.header-footer-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-footer-icon {
  margin-right: 4px;
}

.container {
  width: 1110px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
/* #endregion */

/* #region header */

.container.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-right: 237px;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu-link {
  line-height: 1.75;
  padding: 26px 0;
}

.header-menu-link.item {
  font-weight: 600;
  padding: 26px 0;
}

.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.header-menu-btn-left {
  font-weight: 600;
  text-align: center;
  color: #173a56;
  background-color: #fff;
  text-align: center;
  padding: 9px 25px;
  width: 113px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
}

.header-menu-btn-right {
  font-weight: 600;
  padding: 9px 25px;
  color: #fff;
  text-align: center;
  background-color: #02897a;
  width: 113px;
  border-radius: 4px;
}
/* #endregion */

/* #region hero */

.container.hero {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 96px;
}

.left-side {
  width: 465px;
  padding: 112px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  margin-right: 13px;
  margin-left: 3px;
  max-width: 452px;
}

.hero-description {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 45px;
}

.hero-link {
  font-weight: 700;
  color: #fff;
  background-color: #02897a;
  padding: 15px 42px;
  border-radius: 4px;
  margin-right: 30px;
}

.hero-icon {
  margin-right: 9px;
}

.hero-btn {
  padding: 2px 0;
  background-color: #fff;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}

.right-side {
  flex-grow: 1;
}
.hero-img {
  width: 100%;
}

/* #endregion */

/* #region feature*/

.feature-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  max-width: 539px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feature-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.feature-list-item {
  width: calc((100% - 30px * 3) / 4);
}

.feature-list-icon {
  margin-bottom: 26px;
}

.feature-list-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.feature-list-description {
  line-height: 1.62;
  margin-bottom: 26px;
}

.feature-link {
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  color: #fff;
  background-color: #02897a;
  padding: 15px 34px;
  text-align: center;
  width: 175px;
  border-radius: 4px;
}
/* #endregion */

/* #region benefits*/

/* #endregion */
.benefits-list-item.odd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
  margin-bottom: 100px;
}

.benefits-info {
  width: 486px;
  margin-top: 50px;
  margin-bottom: 41px;
}

.benefits-list-item.even {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 84px;
  margin-bottom: 100px;
}

.benefits-list-exp {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}

.benefits-list-description {
  line-height: 1.63;
  margin-bottom: 29px;
}

.benefits-table-title {
  font-weight: 600;
  line-height: 1.63;
  margin-bottom: 13px;
}

.benefits-table-item.even {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-icon {
  margin-right: 30px;
}

.benefits-table-description {
  line-height: 1.63;
  margin-bottom: 25px;
}
/* #region */
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */
