/* #region reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* #region body */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
  background-color: #fff;
}
/* #endregion */

/* #region common */

.container {
  width: 1150px;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

.main-btn {
  display: block;
  min-width: 110px;
  padding: 14px 25px;
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 1.5;
  background-color: #02897a;

  font-weight: 600;
  color: #fff;
}
/* #endregion */

/* #region header */

.page-header {
  padding: 19px 0;
  margin-bottom: 25px;
}

.header-container,
.header-nav,
.header-logo,
.header-nav-list,
.header-auth-list {
  display: flex;
  align-items: center;
}

.header-nav {
  flex-grow: 1;
}

.header-logo {
  gap: 16px;
  margin-right: auto;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-nav-list {
  gap: 30px;
}

.header-nav-link {
  display: block;
  line-height: 1.75;
  padding: 7px 0;
}

.header-nav-link.current {
  font-weight: 600;
}

.header-nav-link:not(.current):hover,
.header-nav-link:not(.current):focus {
  color: teal;
  transform: scale(1.1);
}
.header-auth-list {
  gap: 24px;
  margin-left: 73px;
}

.header-auth-btn.main-btn {
  padding: 9px 0;
  transition: background-color 250ms ease-in, color 250ms ease-in,
    border-color 250ms ease-in;
}

.header-auth-btn.main-btn:hover,
.header-auth-btn.main-btn:focus {
  background-color: #fff;
  color: #173a56;
  border-color: #173a56;
}

/* #endregion */

/* #region hero */

.hero {
  margin-bottom: 100px;
}

.hero.container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.hero-left-side {
  display: flex;
  justify-content: center;
  flex-direction: column;

  max-width: 465px;
  padding: 112px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 18px;
  margin-right: 13px;
  margin-left: 3px;
}

.hero-description {
  font-size: 18px;
  line-height: 1.55;
  margin-bottom: 45px;
}

.hero-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.hero-link-item {
  font-weight: 700;
  color: #fff;
  background-color: #02897a;
  padding: 14px 42px;
  border-radius: 4px;
  line-height: 1.5;
  width: 178px;
}

.hero-link-wrapper {
  display: flex;
  gap: 9px;
  width: 164px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.hero-icon {
  border-radius: 2px;
  fill: #02897a;
}

.right-side {
  flex-grow: 1;
}
.hero-img {
  width: 100%;
}

/* #endregion */

/* #region feature*/

.feature {
  margin-bottom: 50px;
}

.feature-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  max-width: 539px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feature-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.feature-list-item {
  width: calc((100% - 30px * 3) / 4);
}

.feature-list-icon {
  margin-bottom: 26px;
  width: 54px;
  height: 54px;
}

.feature-list-title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

.feature-list-description {
  line-height: 1.62;
  margin-bottom: 26px;
}

.feature-link {
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  color: #fff;
  background-color: #02897a;
  padding: 15px 34px;
  text-align: center;
  width: 175px;
  border-radius: 4px;
}
/* #endregion */

/* #region benefits*/

.benefits-list-item.odd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
  margin-bottom: 100px;
}

.benefits-info {
  width: 486px;
  margin-top: 50px;
  margin-bottom: 41px;
}

.benefits-list-item.even {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 84px;
  margin-bottom: 100px;
}

.benefits-list-exp {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.benefits-list-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
}

.benefits-list-description {
  line-height: 1.63;
  margin-bottom: 29px;
}

.benefits-table-title {
  font-weight: 600;
  line-height: 1.63;
  margin-bottom: 13px;
}

.benefits-table-item.even {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.table-icon {
  padding: 12px 10px;
  margin-right: 30px;
  border: 2.92px solid #fff;
  border-radius: 14px;
}
.table-icon.yellow {
  background-color: #ff9900;
}

.table-icon.red {
  background-color: #f03e3d;
}

.table-icon.blue {
  background-color: #4d8dff;
}

.benefits-table-description {
  line-height: 1.63;
  margin-bottom: 25px;
}

/* #endregion */

/* #region staff*/
.staff-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.staff-description {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  margin: 0 auto;
  max-width: 542px;
  margin-bottom: 64px;
}

.staff-list {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 91px;
}

.staff-list-item {
  width: calc((100% - 91px) / 2);
  display: flex;
  align-items: center;
}

.staff-list-item.reverse {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.staff-img {
  margin-right: 20px;
}

.staff-img-reverve {
  margin-left: 20px;
}

.staff-skill {
  padding: 14px 20px;
  border-radius: 15px;
  font-weight: 500;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  width: 281px;
}
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */
